@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer internacionalizacion;
@model Amigos.Models.Amigo

@{
    ViewData["Title"] = "Details";
}

<h1>@internacionalizacion["detalle"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.name) *@
            @internacionalizacion["nom"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.longi) *@
            @internacionalizacion["longi"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.longi)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.lati) *@
            @internacionalizacion["lati"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lati)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">@internacionalizacion["edit"]</a> |
    <a asp-action="Index">@internacionalizacion["vuelta"]</a>
</div>
