@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer internacionalizacion;
@model IEnumerable<Amigos.Models.Amigo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">@internacionalizacion["nuevo"]</a>
</p>

<!-- Creo el formulario para introducir la longitud, latitud y el nombre-->
<form asp-controller="Amigo" asp-action="Index">
    <div style="margin-bottom: 10px;">
        <label style="display: inline-block; width: 100px;">@internacionalizacion["longi"]:</label>
        <input type="text" name="longitud" style="width: 200px; padding: 5px;" />
        <input type="submit" value=@internacionalizacion["filtro"] />
    </div>

    <div style="margin-bottom: 10px;">
        <label style="display: inline-block; width: 100px;">@internacionalizacion["lati"]:</label>
        <input type="text" name="latitud" style="width: 200px; padding: 5px;" />
    </div>

    <div style="margin-bottom: 10px;">
        <label style="display: inline-block; width: 100px;">@internacionalizacion["distancia"]:</label>
        <input type="text" name="distancia" style="width: 200px; padding: 5px;" />
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @internacionalizacion["nom"]
            </th>
            <th>
                @internacionalizacion["longi"]
            </th>
            <th>
                @internacionalizacion["lati"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.longi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lati)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">@internacionalizacion["edit"]</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">@internacionalizacion["detalles"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">@internacionalizacion["eliminar"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
